@model List<StockDetail>
@{
    ViewData["Title"] = "Stok Detayları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="mb-2">
    <a class="btn btn-primary text-white font-weight-bold" asp-area="Admin" asp-controller="StockDetail" asp-action="Add">
        <i class="fa fa-info-circle"></i> Stok Detay Ekle
    </a>
</div>

@if (Model.Count > 0)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>


    <div class="card">
        <div class="card-body">
            <h4>Ürünler</h4>
            <div class="m-t-25">
                <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <table id="data-table" class="table dataTable" role="grid" aria-describedby="data-table_info">
                            <thead>
                                <tr>
                                    <th>Ürün Detay İsmi</th>
                                    <th>Oluşturan</th>
                                    <th>Tarih</th>
                                    <th>Ayarlar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var stockDetail in Model)
                                {
                                    <tr name="@stockDetail.Id">
                                        <td>@stockDetail.StockDetailName</td>
                                        <td>@string.Concat(stockDetail.AppUser?.FirstName," ",stockDetail.AppUser?.LastName)</td>
                                        <td>@stockDetail.CreatedDate</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary font-weight-bold text-white" asp-area="Admin" asp-controller="StockDetail" asp-action="Update" asp-route-stockDetailId="@stockDetail.Id">
                                                    <i class="fas fa-edit mr-2"></i> Düzenle
                                                </a>
                                                <a class="btn btn-danger font-weight-bold text-white deleteStockDetail" data-id="@stockDetail.Id" data-title="@stockDetail.StockDetailName">
                                                    <i class="fas fa-trash-alt mr-2"></i> Sil
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Css{
    <link href="~/assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    }

    @section Scripts {
    <script src="~/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/stockDetailIndex.js"></script>
    }
}else
{
    <div class="alert alert-primary">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-info-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">
                    Ürün Detayı Bulunamadı!
                </h5>
                <p>Henüz ürün detayı eklenmemiş. Lütfen ürün detayı ekleyiniz.</p>
            </div>
        </div>
    </div>
}